<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PirateRobotics</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		</style>

	</head>
	<body>

		<div class="square">
			<div></div> 
			<div></div> 
			<div></div>
			<div></div>
			<div></div> 
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>


		<!--Web Title-->
		<div class="center-title">
            <p><a href="/" style="position:relative;left:-580px"><button type="button"
                style="font-size: 25px;color: white;width: 15%;border-color:white;border-width: 2px;padding: 12px 28px; background-color:transparent;">BACK</button></a></p>
			<h1 style="font-size:60px;">Robotic Arm Movement Instructions</h1>
			<p style="font-size: 30px;">Before you start controlling the arm, we've provided a list of <br>instructions on 
							what action each key on the keyboard does.<br> Look it over, and when you feel comfortable enough, <br>display the camera and use the keyboard to begin the fun!</p>
		</div>

		<div class="container">
					<div style="display:flex;" class="row">
						<div style="flex:60%; padding:5px;" class="column">
							<img src="/static/images/keyboardDirections.jpg" class="tree-img" alt="Hierarchy Tree" style="width:1000px;height:350px;margin-top:80px; margin-left: 50px;">
						</div>
						<div style="flex:60%; padding:5px;">
							<img id="image" style="display: none; margin-top:0px; margin-left: 100px;"src="{{ url_for('video') }}" width="525%"/>
						</div>
						<div> <button style="height: 70px; margin-right:550px;margin-top: 100px; font-size: 25px; color: white; width: 60%; border-color:white;border-width: 2px;
												padding: 12px 28px; background-color:transparent;"   
							type="button" onclick="show()" id="btnID">SHOW CAMERA</button></div>
		
						<div> <button hidden style="height: 70px;font-size: 25px; color: white; width: 60%; border-color:white;border-width: 2px;
							padding: 12px 28px; background-color:transparent; margin-top: 520px; margin-right: 550px;"    
							type="button" onclick="hide()" id="btnHideID">HIDE CAMERA</button></div>				

				<script>
					function show() {
						document.getElementById('image')
						.style.display = "block";
						document.getElementById('btnID')
						.style.display = "none"
						document.getElementById('btnHideID').removeAttribute("hidden");
					}
					function hide() {
						document.getElementById('image')
						.style.display = "none";
						document.getElementById('btnHideID').setAttribute("hidden", "hidden");
						document.getElementById('btnID')
						.style.display = "block"
					}
				</script>
			</div>
		</div>

		<!-- Keyboard Button-->
		<p style="margin-left: -820px;font-size: 25px; color: red; margin-left: 150px;">*Click the END key on keyboard to stop all actions with the robotic arm*</p>
		<p style="margin-left: 250px; font-size: 20px;">Click the button below to activate the keyboard keys to control the robot!</p>
		<form action="{{ url_for('keyboard_actions') }}" method="post"><button name="keyboardActions" type="submit" style="height: 70px; font-size: 25px; color: white; width: 25%; border-color:white;border-width: 2px;
		padding: 12px 28px; background-color:transparent; margin-top: 20px; margin-left: 300px;">KEYBOARD</button></form> 
		<p style="margin-left: 110px; font-size: 20px;">Click the button below and navigate to the terminal to enter the object you want the robot to pick up!</p>
		<!-- Enter Object Button-->
		<form action="{{ url_for('object_input') }}" method="post"><button name="enterObject" type="submit" style="height: 70px; font-size: 25px; color: white; width: 25%; border-color:white;border-width: 2px;
		padding: 12px 28px; background-color:transparent; margin-top: 20px; margin-left: 300px;">ENTER OBJECT</button></form>  
			<!-- User Inputs-->
			<!-- <div style="text-align:center; position:relative; bottom: -50px; ">
				<p style="margin-left: -850px; font-size: 20px;">Enter coordinates below to the designated position you want to set your object down at!</p>
				<form>
					<input style="height:30px; width: 250px; margin-left: -850px;" type="text" id="xval" name="xvalue" placeholder="Enter X Value" >
					
					<input style="height:30px; width: 250px;" type="text" id="yval" name="yvalue" placeholder="Enter Y Value">
					
					<input style="height:30px; width: 250px;" type="text" id="zval" name="zvalue" placeholder="Enter Z Value">
				</form>
				<div> 	 -->
			<p style="margin-left: -820px; margin-bottom: 100px;margin-top: -100px;font-size: 25px; color: red;">*Click the END key on keyboard to stop all actions with the robotic arm*</p>	 
			</div>
		</body>

	<script>
		function runRobot() {
			xdata = new FormData(document.getElementByName("xvalue").values[0])
			ydata = new FormData(document.getElementByName("yvalue").values[0])
			zdata = new FormData(document.getElementByName("zvalue").values[0])
			let xhttp = new XMLHttpRequest();
			xhttp.open('POST', 'http://127.0.0.1:5000/run');
			xhttp.send();
		}
	</script>
</html>
