<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PirateRobotics</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		</style>

	</head>
	<body>

		<div class="square">
			<div></div> 
			<div></div> 
			<div></div>
			<div></div>
			<div></div> 
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>


		<!--Web Title-->
		<div class="center-title">
            <p><a href="/" style="position:relative;left:-580px"><button type="button"
                style="font-size: 25px;color: white;width: 15%;border-color:white;border-width: 2px;padding: 12px 28px; background-color:transparent;">BACK</button></a></p>
			<h1 style="font-size:60px;">Robotic Arm Controller Instructions</h1>
			<p style="font-size: 30px;">Before you start controlling the arm, we've provided a list of <br>instructions on 
							what action each button does. Look it over, and when you <br>feel comfortable enough, scroll down to begin the fun!</p>
		</div>

		<!--Tool Cards-->
		<div class="container">
			<div class="box">
				<div class="box-row">
                        <img src="/static/images/exampleImage.png" class="tree-img" alt="Hierarchy Tree" style="width:850px;height:850px;margin-top:-100px;">
						<div 
							class="viewButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-460px;margin-left:347px;position:relative;transform:rotate(10deg);">
						</div>
						<div 
						class="menuButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-375px;margin-left:495px;position:relative;transform:rotate(-10deg);">
						</div>
						<div 
						class="rightStick" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:-300px;margin-left:630px;position:relative;transform:rotate(-50deg);">
						</div>
						<div 
						class="dPad" style="border-left: 1.5px solid rgb(12, 11, 11);height: 300px;margin-top:110px;margin-left:30px;position:relative;transform:rotate(50deg);">
						</div>
						<div 
						class="leftStick" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-300px;margin-left:-150px;position:relative;transform:rotate(65deg);">
						</div>
						<div 
						class="yButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-590px;margin-left:550px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="bButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 190px;margin-top:-170px;margin-left:620px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="aButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 200px;margin-top:-110px;margin-left:555px;position:relative;transform:rotate(90deg);">
						</div>
						<div 
						class="xButton" style="border-left: 1.5px solid rgb(12, 11, 11);height:200px;margin-top:0px;margin-left:60px;position:relative;transform:rotate(120deg);">
						</div>
						<div 
						class="homeButton" style="border-left: 1.5px solid rgb(12, 11, 11);height: 90px;margin-top:-670px;margin-left:425px;position:relative;">
						</div>
						<div 
						class="leftBumper" style="border-left: 1.5px solid rgb(12, 11, 11);height: 100px;margin-top:-400px;margin-left:100px;position:relative;transform:rotate(-50deg);">
						</div>
						<div 
						class="rightBumper" style="border-left: 1.5px solid rgb(12, 11, 11);height: 100px;margin-top:320px;margin-left:570px;position:relative;transform:rotate(50deg);">
						</div>
						<div style="color:white;padding:20px; margin-left: -170px; margin-top: -30px; font-size: 20px;">
							<h1>Left Stick</h1><p>Click left/right to move<br>gripper to left/right, or up/down <br>to go backward/forward </p>
						</div>
						<div style="color:white;padding:20px; margin-left: -160px; margin-top: 110px; font-size: 20px;">
							<h1>D-Pad</h1><p>Click left/right to open/close<br>gripper fingers, or up/down <br>to increase/decrease gripper spped</p>
						</div>
						<div style="color:white;padding:20px; margin-left: 155px; margin-top: -260px; font-size: 20px;">
							<h1>View Button</h1>
						</div>
						<div style="color:white;padding:20px; margin-left: 470px; margin-top: -140px; font-size: 20px;">
							<h1>Menu Button</h1>
						</div>
						<div style="color:white;padding:20px; margin-left: -100px; margin-top: -750px; font-size: 20px;">
							<h1>Left Bumper</h1><p>Click to rotate/roll<br>gripper to the left</p>
						</div>
						<div style="color:white;padding:20px; margin-left: 300px; margin-top: -250px; font-size: 20px;">
							<h1>Home Button</h1><p>Click for the arm to<br>go back to its home position</p>
						</div>
						<div style="color:white;padding:20px; margin-top: -220px; font-size: 20px;position: relative; right: -680px;">
							<h1>Right Bumper</h1><p>Click to rotate/roll<br>gripper to the right</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-40px; font-size: 20px;position: relative; right: -790px;">
							<h1>Y Button</h1><p>A light turns on</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -850px;">
							<h1>B Button</h1><p>Click to move gripper up/down</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -800px;">
							<h1>A Button</h1><p>Click to move gripper left/right</p>
						</div>
						<div style="color:white;padding:20px;margin-top:-80px; font-size: 20px;position: relative; right: -740px;">
							<h1>X Button</h1><p>A light turns on</p>
						</div>
						<div style="color:white;padding:20px; margin-top: 0px; font-size: 20px;position: relative; right: -800px;">
							<h1>Right Stick</h1><p>Click left/right to rotate<br>gripper to left/right, or up/down <br>to go up/down </p>
						</div>
				</div>
			</div>
		</div>

		<div>
			<h3 style="font-size:40px;text-align: center; line-height: 5; margin-right: 800px;">Use the buttons below to control the arm!</h3>
		</div>

		<div class="container">
			<div style="display:flex;" class="row">
				<div style="flex:60%; padding:5px;" class="column">
                    <img src="/static/images/exampleImage.png" class="tree-img" alt="Hierarchy Tree" style="width:1050px;height:1050px;margin-top:-260px;">
				</div>
				<div style="flex:60%; padding:5px;">
					<img id="image" style="display: none; margin-top:-70px"src="{{ url_for('video') }}" width="95%"/>
				</div>
				<div> <button style="height: 70px; margin-right:550px;font-size: 25px; color: white; width: 60%; border-color:white;border-width: 2px;
										padding: 12px 28px; background-color:transparent;"   
					type="button" onclick="show()" id="btnID">SHOW CAMERA</button></div>

				<script>
					function show() {
						document.getElementById('image')
						.style.display = "block";
						document.getElementById('btnID')
						.style.display = "none"
					}
				</script>
			</div>
		</div>
                <!--Fake Butttons-->
		<div class="center-title">
            <!-- Left Bumper Button -->
            <p><a href="#" style="position:relative;left:-600px; bottom: 870px;"><button type="button"
                    style="padding: 23px; 
                        background-color:transparent;border-radius: 50%; width: 10%; border-width: 1px;"></button></a></p>
			<!-- Right Bumper Button -->
            <p><a href="#" style="position:relative;left:-250px; bottom: 930px;"><button type="button"
                    style="padding: 23px; 
                        background-color:transparent;border-radius: 50%; width: 10%;border-width: 1px; "></button></a></p>
            <!-- A Button -->
            <p><a href="#" style="position:relative;left:-230px; bottom: 827px;"><button type="button"
                style="padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px; border-width: 1px; "></button></a></p>
            <!--Home Button-->
            <p><a href="#" style="position:relative;left:-420px; bottom: 1020px;"><button type="button"
                style="padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px;border-width: 1px;"></button></a></p>
			<!-- B Button -->
            <form action="{{ url_for('move_to_home') }}" method="post" style="position:relative;left:-182px; bottom: 1004px;"><button name="forwardBtn" type="submit"
                style="padding: 23px; 
                       background-color:rgba(255, 0, 0, 0.411);
					   border-radius: 50%; 
					   height: 20px; 
					   border-width: 1px;">
			</button></form>
			<!-- Right Stick Button UP -->
            <form action="{{ url_for('move_right') }}" method="post" style="bottom: 938px;"><button name="moveRight" type="submit"
                style="padding: 23px; 
                        margin-top: 300px;margin-right: 900px; background-color:green;border-radius: 50%; height: 20px; border-width: 1px; "></button></a></p>
            <!-- D PAD Button LEFT/OPEN -->
            <form action="{{ url_for('move_left') }}" method="post" style="bottom: 500px;"><button name="moveLeft" type="submit"
                style="padding: 23px; 
                        background-color:purple;border-radius: 50%; height: 20px; border-width: 1px;"></button></form>
			<!-- D PAD Button LEFT/OPEN -->
            <form action="{{ url_for('stop_move') }}" method="post" style="bottom: 600px;"><button name="stopMove" type="submit"
                style="padding: 23px; 
                        background-color:red;border-radius: 50%; height: 20px; border-width: 1px;"></button></form>
            <!-- D PAD Button RIGHT/CLOSE -->
            <p><a href="#" style="position:relative;left:-475px; bottom: 1090px;"><button type="button"
                style="padding: 23px; 
                        background-color:transparent;border-radius: 50%; height: 20px; border-width: 1px;"></button></a></p>

	</div>

	<!-- User Inputs-->
			<div style="text-align:center; position:relative; bottom: 800px; ">
				<p style="margin-left: -850px; font-size: 20px;">Enter coordinates below to the designated position you want to set your object down at!</p>
				<form>
					<input style="height:30px; width: 250px; margin-left: -850px;" type="text" id="xval" name="xvalue" placeholder="Enter X Value" >
					
					<input style="height:30px; width: 250px;" type="text" id="yval" name="yvalue" placeholder="Enter Y Value">
					
					<input style="height:30px; width: 250px;" type="text" id="zval" name="zvalue" placeholder="Enter Z Value">
				</form>
			</div>
		</body>
	<script>
		function runRobot() {
			xdata = new FormData(document.getElementByName("xvalue").values[0])
			ydata = new FormData(document.getElementByName("yvalue").values[0])
			zdata = new FormData(document.getElementByName("zvalue").values[0])
			let xhttp = new XMLHttpRequest();
			xhttp.open('POST', 'http://127.0.0.1:5000/run');
			xhttp.send();
		}
	</script>
</html>
